.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--cta-color);
  color: var(--font-color);
  margin: 2vh 0;
}
.button {
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}
